-// --------------------------------------------------------------------------------------------------------------------
-// Copyright (C) 2019 Team Chipotle
-// MIT License
-// --------------------------------------------------------------------------------------------------------------------
include ../../web/templates/page
include ../../web/components/common
include ../../web/components/desktop

- title = 'CHIP-8 Sprite Editor'
- description = 'A simple, yet powerful sprite editor for the CHIP-8.'
- keywords.push('CHIP8', 'CHIP-8', 'CHIP-8 Sprite', 'CHIP8 Sprite', 'CHIP-8 Sprite Editor', 'CHIP8 Sprite Editor')

- stylesheets.push('/assets/styles/tools.css')
- scripts.push('/scripts/web-tools/sprite-editor.js')

-// --------------------------------------------------------------------------------------------------------------------
-// Page:
-// --------------------------------------------------------------------------------------------------------------------
+page.filled.padded

	+desktop
		+desktop-content
			p Hi
