-// --------------------------------------------------------------------------------------------------------------------
-// Copyright (C) 2019 Team Chipotle
-// MIT License
-// --------------------------------------------------------------------------------------------------------------------
include ../../web/templates/page
include ../../web/components/common
include ../../web/components/desktop
include ../../web/components/toolbar
include ../components/emulator-keypad
include ../components/emulator-screen
include ../components/debug-tools
include ../components/visualizer-program
include ../components/visualizer-registers
include ../components/visualizer-stack
include ../dialogs/dialog-savestates
include ../dialogs/dialog-error
include ../dialogs/dialog-load
include ../dialogs/dialog-settings

- title = 'CHIP-8 Emulator'
- description = 'A fancy (and fast) web-based CHIP-8 emulator and debugger. Supports and runs on mobile devices.'
- keywords.push('CHIP8', 'CHIP-8', 'CHIP-8 Emulator', 'CHIP8 Emulator', '.ch8')

- stylesheets.push('/assets/styles/emulator.css')
- scripts.push('/scripts/web-emu/main.js')
- shims[':scope'] = true

-// --------------------------------------------------------------------------------------------------------------------
-// Screen: Loading
-// --------------------------------------------------------------------------------------------------------------------
mixin loading-screen
	h1 Loading...
	h2 This might take a little while.

-// --------------------------------------------------------------------------------------------------------------------
-// Page:
-// --------------------------------------------------------------------------------------------------------------------
+page.filled.no-scroll
	+toolbar#toolbar
		+item
			input(type="button" value="Load" data-trigger="dialog.load->show")
			input(type="button" value="Reset" data-intent="reset" data-trigger="emulator->reset")

		+item
			input(type="button" value="[]" disabled="disabled" data-intent="play-pause-resume")

		+item
			input(type="button" value="Savestates" data-trigger="dialog.savestates->show")

		+item.spacer

		+item
			input(type="color" value="#ffffff" data-setting='screen_foreground')
			input(type="color" value="#000000" data-setting='screen_background')

		+item
			input(type="button" value="Settings" data-trigger="dialog.settings->show")

	+desktop
		+desktop-overlay#dialogs.centered.blocking
			+ui-dialog-error
			+ui-dialog-load
			+ui-dialog-savestates
			+ui-dialog-settings

		- // Layout
		+desktop-content#emulator-layout
			.emulator-interface
				+emulator-screen
				+emulator-keypad
			.emulator-debugger.requires-debugger
				+debug-tools
				+visualizer-registers
				+visualizer-stack
				+visualizer-program
