-// --------------------------------------------------------------------------------------------------------------------
-// Copyright (C) 2019 Team Chipotle
-// MIT License
-// --------------------------------------------------------------------------------------------------------------------
include ../../web/templates/page
include ../../web/components/common
include ../../web/components/desktop
include ../../web/components/toolbar
include ../components/emulator-keypad
include ../components/emulator-disassembler
include ../components/emulator-registers
include ../components/emulator-screen
include ../components/setting

- stylesheets.push('/assets/styles/emulator.css')
- scripts.push('/scripts/web-emu/ui.js')

+page.filled
	+toolbar
		+item
			input(type="button" value="Load" data-action="emulator-load-show")
			input(type="button" value="Reset" data-action="emulator-reset")

		+item
			input(type="button" value="Pause" data-action="emulator-pause")

		+item
			input(type="button" value="Settings" data-action="emulator-settings-show")

		+item.spacer

		+item
			input(type="button" value="Prev" data-action="emulator-debug-step-prev")
			input(type="button" value="Next" data-action="emulator-debug-step-next")

		+item.spacer

		+item
			input(type="color" value="#ffffff" data-setting='screen_foreground')
			input(type="color" value="#000000" data-setting='screen_background')

	+desktop

		+desktop-overlay#emulator-settings.centered.visible.blocking
			+desktop-window
				+desktop-window-title("Settings")
					input(type="button" value="cancel" data-action="emulator-settings-cancel")
					input(type="button" value="save" data-action="emulator-settings-save")

				+toolbar
					+item(data-pane="emulator-settings-pane-general") General
					+item(data-pane="emulator-settings-pane-keybind") Keybind
					+item(data-pane="emulator-settings-pane-debug") Debug

				.content
					+section.hide#emulator-settings-pane-general
						+setting([1, 1500], 'cpu_speed', 'Clock Speed')
							div The clock speed of the emulated device.
							div This is usually 500 Hz for the CHIP-8.
						+setting('boolean', 'show_keypad', 'Show Keypad')

					+section.hide#emulator-settings-pane-keybind
						for key in ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'A', 'B', 'C', 'D', 'E', 'F']
							+setting('keybind', `keybind_key_${key}`, `Key: ${key}`)

					+section.hide#emulator-settings-pane-debug
						.warning These options will reduce performance.

						+setting('boolean', 'enable_debugger', 'Enable Debugger')
							| This enables the debugger and vizualizer.

						+setting('boolean', 'show_registers', 'Show Registers')
						+setting('boolean', 'show_disassembler', 'Show Disassembler')

		+desktop-content#emulator-layout
			.emulator-interface
				+emulator-screen
				+emulator-keypad
			.emulator-debugger
				+emulator-registers
				+emulator-disassembler

