-// --------------------------------------------------------------------------------------------------------------------
-// Copyright (C) 2019 Team Chipotle
-// MIT License
-// --------------------------------------------------------------------------------------------------------------------
include ../../web/templates/page
include ../../web/components/common
include ../../web/components/desktop
include ../../web/components/toolbar
include ../../web/components/window
include ../components/emulator-keypad
include ../components/emulator-disassembler
include ../components/emulator-registers
include ../components/emulator-screen
include ../components/emulator-stack
include ../components/setting

- stylesheets.push('/assets/styles/emulator.css')
- scripts.push('/scripts/web-emu/ui.js')
- shims[':scope'] = true;

+page.filled
	+toolbar#toolbar
		+item
			input(type="button" value="Load" data-action="window-load-show")
			input(type="button" value="Reset" data-action="emulator-reset")

		+item
			input(type="button" value="Pause" data-action="emulator-play-pause")

		+item
			input(type="button" value="Settings" data-action="window-settings-show")

		+item.spacer

		+item.requires-debugger
			input(type="button" value="Prev" data-action="emulator-debug-step-prev")
			input(type="button" value="Next" data-action="emulator-debug-step-next")

		+item.spacer

		+item
			input(type="color" value="#ffffff" data-setting='screen_foreground')
			input(type="color" value="#000000" data-setting='screen_background')

	+desktop

		- // Settings Window
		+desktop-overlay#emulator-settings.centered.visible.blocking
			+window.tabbed
				+window-title("Settings")
					input(type="button" value="cancel" data-action="settings-cancel")
					input(type="button" value="save" data-action="settings-save")

				+window-tabs
					+window-tab("settings-general") General
					+window-tab("settings-controls") Controls
					+window-tab("settings-debug") Debug

				+window-content

					- // General Settings
					+window-pane("settings-general")
						+setting([1, 1500], 'cpu_speed', 'Clock Speed')
							div The clock speed of the emulated device.
							div This is usually 500 Hz for the CHIP-8.
							div Accepts: <code>1 - 1500</code> Hz.

					- // Keybind Settings
					+window-pane("settings-controls")
						+setting('boolean', 'show_keypad', 'Show Keypad')
						h2 CHIP-8 Keybinds
						.settings-grid
							for key in ['1', '2', '3', 'C', '4', '5', '6', 'D', '7', '8', '9', 'E', 'A', '0', 'B', 'F']
								+setting('keybind', `keybind_key_${key}`, `Key: ${key}`)
						h2 Emulator Keybinds
						.settings-grid.g3
							+setting('keybind', 'keybind_control_pause', 'Pause')
							+setting('keybind', 'keybind_control_turbo', 'Turbo')
							+setting('keybind', 'keybind_control_step_next', 'Step Forwards').requires-debugger
							+setting('keybind', 'keybind_control_step_prev', 'Step Backwards').requires-debugger

					- // Debug Settings
					+window-pane("settings-debug")
						.warning These options will reduce performance.

						+setting('boolean', 'enable_debugger', 'Enable Debugger')
							| This enables the debugger and vizualizer.

						+setting('boolean', 'show_registers', 'Show Registers').requires-debugger
						+setting('boolean', 'show_stack', 'Show Stack').requires-debugger
						+setting('boolean', 'show_disassembler', 'Show Disassembler').requires-debugger

		- // Layout
		+desktop-content#emulator-layout
			.emulator-interface
				+emulator-screen
				+emulator-keypad
			.emulator-debugger.requires-debugger
				+emulator-registers
				+emulator-stack
				+emulator-disassembler

