root = true

# ----------------------------------------------------------------------------------------------------------------------
# All Files:
# ----------------------------------------------------------------------------------------------------------------------

[*]
charset                  = utf-8
end_of_line              = lf
insert_final_newline     = true
indent_style             = tab
indent_size              = 4
tab_width                = 4
trim_trailing_whitespace = true
max_line_length          = 120

# ----------------------------------------------------------------------------------------------------------------------
# TypeScript, JavaScript:
# ----------------------------------------------------------------------------------------------------------------------

[*.{js,ts}]
quote_type               = single
curly_bracket_next_line  = false
spaces_around_operators  = true
indent_brace_style       = K&R
spaces_around_brackets   = outside
continuation_indent_size = 4

# ----------------------------------------------------------------------------------------------------------------------
# JSON:
# ----------------------------------------------------------------------------------------------------------------------

[*.json]
indent_style = tab
indent_size  = 2
tab_width    = 2

# ----------------------------------------------------------------------------------------------------------------------
# YAML:
# ----------------------------------------------------------------------------------------------------------------------

[*.yml]
indent_style = space
indent_size  = 2
tab_width    = 2

# ----------------------------------------------------------------------------------------------------------------------
# Pug:
# ----------------------------------------------------------------------------------------------------------------------

[*.{pug,jade}]
indent_style = tab
indent_size  = 2
tab_width    = 2

# ----------------------------------------------------------------------------------------------------------------------
# CSS/SCSS:
# ----------------------------------------------------------------------------------------------------------------------

[*.{css,scss}]
indent_style = tab
indent_size  = 4
tab_width    = 4
