# Development
.idea
.DS_Store
.tmp
*.iml
*.swp
node_modules

# Build
/artifacts
/artifacts-out
/module/*/out
/temp
/out

# Documents
_docs

# Temporary assembler executables
module/chip-roms/c8asm
module/chip-roms/c8dasm
