-//! -------------------------------------------------------------------------------------------------------------------
-//! Copyright (C) 2019 Team Chipotle
-//! MIT License
-//! -------------------------------------------------------------------------------------------------------------------
-
	function extract(attr, ...params) {
		if (attr == null) return null;
		return attr.split(' ').filter(x => params.includes(x)).join(' ');
	}

mixin page
	head
		link(rel="stylesheet" href="/assets/styles/main.css")
		meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1")
		meta(name="theme-color" content="#222222")

	body(class=extract(attributes.class, 'seamless', 'padded'))
		header
			div#logo
				a(href="/")
					img(src="/assets/images/logo.svg" alt="Team Chipotle")

			div#links
				a(href="/emulator") Emulator
				a(href="/tools/assembler") Assembler
				a(href="/about") About

		#wrapper(class=extract(attributes.class, 'centered'))
			main
				block

