-// --------------------------------------------------------------------------------------------------------------------
-// Copyright (C) 2019 Team Chipotle
-//  MIT License
-// --------------------------------------------------------------------------------------------------------------------

mixin analytics
	script(async src="https://www.googletagmanager.com/gtag/js?id=UA-102910754-4")
	script
		| window.dataLayer = window.dataLayer || [];
		| function gtag(){dataLayer.push(arguments);}
		| gtag('js', new Date());
		| gtag('config', 'UA-102910754-4');
