-// --------------------------------------------------------------------------------------------------------------------
-// Copyright (C) 2019 Team Chipotle
-//  MIT License
-// --------------------------------------------------------------------------------------------------------------------
mixin section(title)
	.section&attributes(attributes)
		if title != null
			div.title=title
		block
