-// --------------------------------------------------------------------------------------------------------------------
-// Copyright (C) 2019 Team Chipotle
-// MIT License
-// --------------------------------------------------------------------------------------------------------------------
include ../templates/page
include ../components/common
include ../components/member

- title = 'About Us - Team Chipotle'

- stylesheets.push('/assets/styles/about.css')


-// --------------------------------------------------------------------------------------------------------------------
-// Page:
-// --------------------------------------------------------------------------------------------------------------------
+page.padded
	h1 About Us
	p Team 15 / Team Chipotle
	p We are a diverse group of software engineering students tasked with creating a web-based CHIP-8 emulator.

	+section.team-members

		+member('Kyle Saburao', {
			role: 'Project Manager',
			href: 'https://github.com/macedir',
			image: 'https://github.com/macedir.png'
		})

		+member('Ethan Pini', {
			role:  'Technical Lead',
			href:  'https://ethan.pini.dev',
			image: 'http://github.com/eth-p.png'
		})

		+member('Firas Fakih', {
			role:  'Team Member',
			href:  null,
			image: null
		})

		+member('Anthony Pham', {
			role: 'Team Member',
			href: null,
			image: null
		})

		+member('Henry Wang', {
			role:  'Team Member',
			href:  null,
			image: null
		})

		+member('Dan Amarasinghe', {
			role: 'Team Member',
			href: null,
			image: null
		})

