-// --------------------------------------------------------------------------------------------------------------------
-// Copyright (C) 2019 Team Chipotle
-// MIT License
-// --------------------------------------------------------------------------------------------------------------------
include ../templates/page
include ../components/common
include ../components/member

- title = 'About Us - Team Chipotle'
- stats = {};

- stylesheets.push('/assets/styles/about.css')

-// --------------------------------------------------------------------------------------------------------------------
-// Stats:
-// --------------------------------------------------------------------------------------------------------------------

- try {
-     for (let entry of File.readJSON(Path.join(Path.TEMP, 'stats.json'))) {
-         stats[entry.author.login] = entry.weeks.reduce((a, c) => {
-             a.additions += c.a;
-             a.deletions += c.d;
-             a.commits   += c.c;
-             return a;
-         }, {additions: 0, deletions: 0, commits: 0});
-     }
- } catch (ex) {}

-// --------------------------------------------------------------------------------------------------------------------
-// Page:
-// --------------------------------------------------------------------------------------------------------------------
+page.padded
	h1 About Us
	p Team 15 / Team Chipotle
	p We are a diverse group of software engineering students tasked with creating a web-based CHIP-8 emulator.

	+section.team-members

		+member('Kyle Saburao', {
			role:  'Project Manager',
			href:  'https://github.com/macedir',
			image: 'https://github.com/macedir.png',
			git:   stats['macedir']
		})

		+member('Ethan Pini', {
			role:  'Technical Lead',
			href:  'https://ethan.pini.dev',
			image: 'http://github.com/eth-p.png',
			git:   stats['eth-p']
		})

		+member('Firas Fakih', {
			role:  'Team Member',
			href:  null,
			image: null,
			git:   stats['ffakih']
		})

		+member('Anthony Pham', {
			role: 'Team Member',
			href:  null,
			image: null,
			git:   stats['cen357']
		})

		+member('Henry Wang', {
			role:  'Team Member',
			href:  null,
			image: null,
			git:   stats['wziheng']
		})

		+member('Dan Amarasinghe', {
			role:  'Team Member',
			href:  null,
			image: null,
			git:   stats['danamaras']
		})

