-// --------------------------------------------------------------------------------------------------------------------
-// Copyright (C) 2019 Team Chipotle
-// MIT License
-// --------------------------------------------------------------------------------------------------------------------
include ../templates/page
include ../components/card

- title = 'About Us - Team Chipotle'

+page.padded
	h1 About Us
	|
	p We are Team 15, Chipotle. 
	| Our members are Ethan Pini, Kyle Saburao, Firas Fakih, Anthony Pham,
	| Henry Wang, Dan Amarasinghe.

