-// --------------------------------------------------------------------------------------------------------------------
-// Copyright (C) 2019 Team Chipotle
-// MIT License
-// --------------------------------------------------------------------------------------------------------------------
include ../templates/page
include ../components/card

- title = 'About Us - Team Chipotle'

+page.padded
	h1 About Us
	| TODO

