-// --------------------------------------------------------------------------------------------------------------------
-// Copyright (C) 2019 Team Chipotle
-// MIT License
-// --------------------------------------------------------------------------------------------------------------------
include ../templates/page
include ../components/member

- title = 'Team Chipotle'
- description = 'A class project revolving around the CHIP-8.'
- keywords.push('Team Chipotle', 'CHIP8', 'CHIP-8', 'CHIP-8 Emulator')

-// --------------------------------------------------------------------------------------------------------------------
-// Page:
-// --------------------------------------------------------------------------------------------------------------------
+page.seamless.centered
	.wrap.wrap-center.wrap-padded

		+card(href="/emulator" img="/assets/images/preview-emulator.png" theme="dark")
			.text Our CHIP-8 emulator.

		+card(href="/tools/sprite-editor" img="/assets/images/preview-sprite-editor.png" theme="dark")
			.text Our sprite editor.

