-// --------------------------------------------------------------------------------------------------------------------
-// Copyright (C) 2019 Team Chipotle
-// MIT License
-// --------------------------------------------------------------------------------------------------------------------
include ../../web/templates/page
include ../../web/components/common
include ../../web/components/desktop
include ../../web/components/toolbar
include ../../web/components/window
include ../components/setting

-// --------------------------------------------------------------------------------------------------------------------
-// Window: Settings
-// --------------------------------------------------------------------------------------------------------------------
mixin ui-window-settings
	+desktop-overlay#emulator-settings.centered.blocking
		+window.tabbed
			+window-title("Settings")
				input(type="button" value="cancel" data-action="settings-cancel")
				input(type="button" value="save" data-action="settings-save")

			+window-tabs
				+window-tab("settings-general") General
				+window-tab("settings-graphics") Graphics
				+window-tab("settings-controls") Controls
				+window-tab("settings-debug") Debug

			+window-content

				- // General Settings
				+window-pane("settings-general")
					+setting([1, 5000], 'cpu_speed', 'Clock Speed')
						div The clock speed of the emulated device. This is usually 500 Hz for the CHIP-8.
						div Accepts: <code>1 - 5000</code> Hz.
					+setting('boolean', 'enable_feedback_sound', 'Enable Sound')
					+setting('boolean', 'enable_feedback_vibrate', 'Enable Vibration')
						div On mobile phones, vibration will be used for sound output.

				- // Graphics Settings
				+window-pane("settings-graphics")
					+setting('boolean', 'display_scaling', 'Scaling')
						div Scales the display up to the largest possible size while maintaining its aspect ratio.
					+setting('boolean', 'display_frameless', 'Frameless')
						div
							| Fills the outside of the display with the display's background color.
							| This may be undesirable in games where the edge of the screen isn't clear.

				- // Keybind Settings
				+window-pane("settings-controls")
					+setting('boolean', 'show_keypad', 'Show Keypad')
					h2 CHIP-8 Keybinds
					.settings-grid
						for key in ['1', '2', '3', 'C', '4', '5', '6', 'D', '7', '8', '9', 'E', 'A', '0', 'B', 'F']
							+setting('keybind', `keybind_key_${key}`, `Key: ${key}`)
					h2 Emulator Keybinds
					.settings-grid.g3
						+setting('keybind', 'keybind_control_pause', 'Pause')
						+setting('keybind', 'keybind_control_turbo', 'Turbo')
						+setting('keybind', 'keybind_control_step_next', 'Step Forwards').requires-debugger
						//- FIXME: @eth-p: Implement step backwards.
						//- +setting('keybind', 'keybind_control_step_prev', 'Step Backwards').requires-debugger

				- // Debug Settings
				+window-pane("settings-debug")
					.warning These options will reduce performance.

					+setting('boolean', 'enable_debugger', 'Enable Debugger')
						| This enables the debugger and vizualizer.

					+setting('boolean', 'show_registers', 'Show Registers').requires-debugger
					+setting('boolean', 'show_stack', 'Show Stack').requires-debugger
					+setting('boolean', 'show_disassembler', 'Show Disassembler').requires-debugger
