-// --------------------------------------------------------------------------------------------------------------------
-// Copyright (C) 2019 Team Chipotle
-// MIT License
-// --------------------------------------------------------------------------------------------------------------------
include ../../web/templates/page
include ../../web/components/common
include ../../web/components/desktop
include ../../web/components/toolbar
include ../../web/components/window

-// --------------------------------------------------------------------------------------------------------------------
-// Window: Settings
-// --------------------------------------------------------------------------------------------------------------------
mixin ui-window-load
	+desktop-overlay#emulator-load.centered.blocking.blocking
		+window.tabbed
			+window-title("Load Program")
				input(type="button" value="cancel" data-action="window-load-hide")

			+window-tabs
				+window-tab("load-library-demos") Demos
				+window-tab("load-library-games") Games
				+window-tab("load-library-tools").requires-debugger Tools
				+window-tab("load-upload") Upload

			+window-content
				+window-pane("load-upload")
					input(type="file" id="program-upload")
					label(for="program-upload")#program-upload-display
						div Upload a ROM.

				+window-pane("load-library-demos")
					div Use our library of CHIP-8 demos.
					div.program-library-list#library-demos

				+window-pane("load-library-tools")
					div Use our library of CHIP-8 tools.
					div.program-library-list#library-tools

				+window-pane("load-library-games")
					div Use our library of CHIP-8 games.
					div.program-library-list#library-games
