-// --------------------------------------------------------------------------------------------------------------------
-// Copyright (C) 2019 Team Chipotle
-// MIT License
-// --------------------------------------------------------------------------------------------------------------------
include ../../web/components/toolbar

mixin debug-tools
	#debug-tools
		+toolbar
			+item
				//input(type="button" value="Prev" data-trigger="emulator->pause; emulator->stepPrev")
				input(type="button" value="Next" data-action="emulator->pause; emulator->stepNext")
