-// --------------------------------------------------------------------------------------------------------------------
-// Copyright (C) 2019 Team Chipotle
-// MIT License
-// --------------------------------------------------------------------------------------------------------------------
mixin emulator-screen
	div&attributes(attributes)#emulator-screen
		.screen
