-// --------------------------------------------------------------------------------------------------------------------
-// Copyright (C) 2019 Team Chipotle
-// MIT License
-// --------------------------------------------------------------------------------------------------------------------
mixin emulator-disassembler
	div&attributes(attributes)#emulator-disassembler
