-// --------------------------------------------------------------------------------------------------------------------
-// Copyright (C) 2019 Team Chipotle
-// MIT License
-// --------------------------------------------------------------------------------------------------------------------
mixin emulator-disassembler
	#emulator-disassembler
		.title Program

		.program-visualizer

		.program-op.template
			.program-op-index ----
			.program-op-value EXA M PLE

