-// --------------------------------------------------------------------------------------------------------------------
-// Copyright (C) 2019 Team Chipotle
-// MIT License
-// --------------------------------------------------------------------------------------------------------------------
include ../../web/components/toolbar

mixin emulator-debug-tools
	#emulator-debug-tools
		+toolbar
			+item
				//- FIXME: @eth-p: Implement step backwards.
				//- input(type="button" value="Prev" data-action="emulator-debug-step-prev")
				input(type="button" value="Next" data-action="emulator-debug-step-next")
