-// --------------------------------------------------------------------------------------------------------------------
-// Copyright (C) 2019 Team Chipotle
-// MIT License
-// --------------------------------------------------------------------------------------------------------------------
mixin emulator-stack
	#emulator-stack
		.title Stack

		.stack-visualizer
			.stack-frame(data-stack-frame="PC")
				.stack-frame-index PC
				.stack-frame-value ----

		.stack-frame.template
			.stack-frame-index -00
			.stack-frame-value ----
