-// --------------------------------------------------------------------------------------------------------------------
-// Copyright (C) 2019 Team Chipotle
-// MIT License
-// --------------------------------------------------------------------------------------------------------------------
mixin emulator-register(name)
	div.emulator-register
		div.register-name=name
		div.register-value='??'

mixin emulator-registers
	div&attributes(attributes)#emulator-registers
		+emulator-register('V0')
		+emulator-register('V1')
